body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
}

/* .container {} */

header {
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  padding: 0;
}

.body {
  width: 600px;
  margin: auto;
  padding: 24px;
  box-sizing: border-box;
}

.form-control {
  padding-bottom: 24px;
}

.form-control > label {
  padding-bottom: 6px;
  font-style: bold;
  display: block;
}

.form-control > .form-input {
  width: 100%;
  background: transparent;
  border-radius: 6px;
  border: 1px solid #dfe1e5;
  color: #70757a !important;
  font-size: 14px !important;
  height: 36px;
  padding: 12px;
  box-sizing: border-box;
}

.combo-menu-wrapper {
  position: relative;
}

.combo-menu-wrapper > .menu-items-wrapper {
  z-index: 1000;
  background-color: #fff;
  box-shadow: 1px;
  position: absolute;
  top: 62px;
  border-top: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.combo-menu-wrapper > .menu-items-wrapper.none {
  display: none;
}

.menu-items-wrapper > .menu-items {
}

.menu-items-wrapper > .menu-items > .menu-item {
  padding: 6px 12px;
  border-bottom: 1px solid #dfe1e5;
}

.menu-items-wrapper > .menu-items > .menu-item:last-child {
  border-bottom: none;
}

.menu-items-wrapper > .menu-items > .menu-item:hover {
  background-color: burlywood;
  color: #fff;
  cursor: pointer;
}

.go-back > button {
  background-color: gainsboro; /* Green */
  border: none;
  color: #000;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.issue-detail {
  margin-top: 24px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* .table tr:nth-child(even) {
  background-color: #f2f2f2;
} */

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

@media only screen and (max-width: 600px) {
  .body {
    width: 90%;
  }
}
